[Unit]
Description=Notify-send: backup reminder

[Service]
Type=oneshot
; Environment=DISPLAY=:0
; Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/notify-send "Backup reminder" "Time to run your backup."

